*{
    margin: 0px;
    font-family: 'inter';
}

#logo{
    margin-top: 50px;
    margin-left: 75px;
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;

}

#menu-superior{
    background-image: url(imagens/fundo-menusuperior.svg);
    color: aliceblue;

}

#menu-informacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;px;
}

#secaovideo{
   display: grid;
   grid-auto-flow: column;
   columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#titulovideo{
    color: #247BA0;
}

#video{
    margin: 50px 25px 50px 100px;
}

#textovideo2{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color:#247BA0;
    padding: 50px;
}

#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
   margin-left: 50px;
}

#seta-esquerda{
   display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 40%;
    cursor: pointer;
}

.seta1{
    margin-top: 85%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

.seta1:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;  
}

#formulario{
    text-align: center;
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
}

button{
    background-color: #247ba0;
    color: #EAECE5;
    height: 40px;
    width: 250px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #469cc1;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px #41657584;
    transition-duration: 0.5s;
}

#produzido{
    background-color: #383838;
    text-align: center;
}

#texto-producao{
    color: white;
    font-size: 15px;
    padding: 7px;
}